DATABASE_URL=postgresql://postgres:LErxUSjpHmZjWjirvMAuIXFVSgoefHSH@shinkansen.proxy.rlwy.net:27227/railway
JWT_SECRET=cambia_esto_por_un_secreto_seguro
PORT=3000
ADMIN_EMAIL=admin@uvm.cl
ADMIN_PASSWORD=deportesuvm
ADMIN_NOMBRE=Admin UVM